.section_welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem 0rem 4rem 0rem;
    background-color: navajowhite;
    font-family:sans-serif
}

.section_welcome > h1 {
    font-size: 3.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif
}

.section_welcome > h2 {
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 10rem;
    width: 30rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:lightblue;
    border-radius: 10px;
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
    min-height: 93.6vh;
}

a, button, span, h1, h2, h3 {
    font-size: 1.7rem;
}

header {
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color:navajowhite;
    font-family: sans-serif;
}

.nav-bar {
    display: flex;
    gap: 2rem;
}

.nav-bar li,
.nav-bar li a {
    list-style: none;
    text-decoration: none;
}

.nav-bar li a {
    font-size: 2.5rem;
    color: black;
    transition: border-bottom 1s;
}

.nav-bar li a:hover {
    border-bottom: .1rem solid blueviolet;
}

.card-player_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 100rem;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.card-luken, .card-simple {
    padding: 45px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-luken img, .card-simple img {
    width: 100%;
    border-radius: 8px;
    height: 200px;
}

.section_sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_sponsors > span {
    width: 100vw;
    height: 3.5rem;
    font-size: 2.2rem;
    background-color: rgb(61, 59, 59);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section_reputation {
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    background-color:rgb(61, 59, 59);
    height: 5rem;
    color: #fff;
}

.section_reputation > span {
    font-size: 2.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section_payments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blue;
    padding-top: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section_payments > span {
    font-size: 4rem;
}

.medios_de_pago {
    justify-content: center;
    align-items: center;
    display: flex;
}

.medios_de_pago > img {
    width: 10%;
    height: 10%;
    text-shadow: black;
}

.footer_container {
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    min-width: 90vw
}

.footer_container > span {
    text-decoration: none;
    font-family: sans-serif
}

.redes_sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0rem 2rem 0rem 0rem;
}

.redes_sociales > svg {
    width: 3rem;
    height: 3rem;
}

.logo_sunflower > svg {
    width: 4rem;
    height: 4rem;
}

.logo_sunflower {
    padding: 2rem 0rem 0rem 2rem;
}

.section_redes_sociales > h1 {
    font-size: 4rem;
    text-align: center;
    padding: 5rem 0rem 5rem 0rem;
    justify-content: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.logos_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logo_steam,
.logo_instagram,
.logo_twitter,
.logo_facebook {
    display: flex;
    justify-content: space-between;
    width: 65rem;
    background-color: #090996;
}

.logo_steam a,
.logo_instagram a,
.logo_twitter a,
.logo_facebook a {
    font-size: 5rem;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 1rem;
}

.logo_instagram {
    background-color: crimson;
}
.logo_twitter {
    background-color: skyblue;
}
.logo_facebook {
    background-color: #451ae0;
}

.contacto_consultas,
.contacto_form {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:sans-serif
}

.section_pagos > h1 {
    font-size: 4rem;
    text-align: center;
    padding: 5rem 0rem 5rem 0rem;
    justify-content: center;
    display: flex;
    background-color: navajowhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section_pagos > h2 {
    font-size: 2rem;
    text-align: center;
    padding: 5rem 0rem 5rem 0rem;
    justify-content: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.logos_container_pagos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logo_mercado_pago,
.logo_usdt,
.logo_paypal,
.logo_transferencia {
    display: flex;
    justify-content: space-between;
    width: 65rem;
    background-color: #094696;
}

.logo_mercado_pago a,
.logo_usdt a,
.logo_paypal a,
.logo_transferencia a {
    font-size: 5rem;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 1rem;
}

.logo_mercado_pago {
    background-color:rgb(42, 121, 224);
}
.logo_usdt {
    background-color: rgb(17, 160, 4);
}
.logo_paypal {
    background-color: #2250a5;
}
.logo_transferencia {
    background-color: rgb(192, 56, 56);
}

.como_abonar > span {
    font-size: 2rem;
    text-align: center;
    padding: 4rem 0rem 4rem 0rem;
    justify-content: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif
}

.dudas_abonar > span {
    font-size: 2rem;
    text-align: center;
    padding: 4rem 0rem 4rem 0rem;
    justify-content: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif
}

.como_vender > h1 {
    font-size: 4rem;
    text-align: center;
    padding: 5rem 0rem 5rem 0rem;
    justify-content: center;
    display: flex;
    background-color: navajowhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.como_vender > h2 {
    font-size: 2rem;
    text-align: center;
    padding: 5rem 0rem 5rem 0rem;
    justify-content: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.como_vender > span {
    font-size: 2rem;
    text-align: center;
    padding: 4rem 0rem 4rem 0rem;
    justify-content: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif
}

.logos_container_venta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25rem;
    padding: 10rem 0rem 0rem 0rem;
}

.contacto_venta > span {
    font-size: 2rem;
    text-align: center;
    padding: 10rem 0rem 5rem 0rem;
    justify-content: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif
}

.abono_venta > span {
    font-size: 2rem;
    text-align: center;
    padding: 5rem 0rem 5rem 0rem;
    justify-content: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif
}

.logos_container_abono {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25rem;
    padding: 5rem 0rem 0rem 0rem;
    min-height: 25vh;
}

.info_dolar > h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 5rem 0rem 5rem 0rem;
    justify-content: center;
    display: flex;
    background-color: rgb(253, 143, 53);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info_dolar > h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 5rem 0rem 5rem 0rem;
    justify-content: center;
    display: flex;
    background-color: rgb(1, 143, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.card_skins_container {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.card_bayonet_knife {
    width: 50rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 1.2rem;
}

@media (max-width: 768px) {
    .card-player_container {
        grid-template-columns: 1fr;
    }
    .section_reputation > span {
        font-size: 14px;
    }
    .section_payments > span {
        font-size: 25px;
    }
}